{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Hero Section -->
    <div class="jumbotron jumbotron-fluid text-center bg-primary text-white rounded">
        <div class="container">
            <h1 class="display-4">Bem-vindo ao E-commerce!</h1>
            <p class="lead">Gerencie seus produtos de forma simples e eficaz.</p>
        </div>
    </div>

    <!-- Features Section -->
    <div class="row text-center mt-5">
        {% for ad in ads %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ url_for('static', filename='uploads/' + ad.image_path) }}" class="card-img-top" alt="{{ ad.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.description }}</p>
                    <p class="card-text">R$ {{ ad.price }}</p>
                    <a href="{{ url_for('ad_detail', ad_id=ad.id) }}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
